header {
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
}
.induk-jeruk {
    display: block;
    margin: 0 auto;
    width: 50%;
}
.Buah {
    width: 300px;
    border: 10px solid orange;
    border-radius: 25px;
    padding-left: 25px;
    margin-right: 950px;
}
.judul-jeruk {
display: flex;
font-size: 35px;
color: orange;
text-align: inherit;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.harga {
border: 10px dashed orange ;
padding: 5px;
margin-top: 10px;
font-weight: bold;
margin-right: 600px;
border-radius: 20px;
}
.deskripsi-buah {
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
