ul.navigasi {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    gap: 25px;
    background-color: black;
}
ul.navigasi li {
    float: left;
}
ul.navigasi li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.navigasi li a:hover {
    background-color: blue;
}
.container {
    width: 100%;
}
.sidebar {
    float: left;
    width: 30%;
    background-color: blue;
}
.main-content {
    float: right;
    width: 70%;
    background-color: white;
}
.Content-clearfix::after {
    content: "";
    display: block;
    clear: both;
}