body {
    background-color: lightyellow;
}
/* Fonts Poppins */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
/* Fonts poppins */

/* Awal Navigasi */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: 30px;
  padding-left: 100px;
  color: darkblue;
}
nav {
  text-align: center;
}
nav a {
  margin-right: 50px;
  text-decoration: none;
  color: darkblue;
  font-size: 18px;
}
nav a:hover {
  text-decoration: underline darkblue;
}
.Logo-2 {
  padding-right: 20px;
}
.Logo-2 img {
  margin-right: 20px;
}
/* Akhir Navigasi */

/* Awal Hero Section */
.Hero-Section {
  padding-top: 30px;
}
.Hero-Section img {
  float: right;
  width: 500px;
  padding-top: 55px;
  padding-right: 100px;
}
.text-section {
 padding-top: 100px;
 padding-left: 100px;
}
.text-section h4 {
  font-size: 25px;
  color: darkblue;
  margin-bottom: 0px;
}
.text-section h1 {
  margin-top: 5px;
  font-size: 80px;
  color: darkblue;
  line-height: 100px;
  margin-bottom: 0px;
}
.Indonesia {
  margin-top: 20px;
  font-size: 28px;
}
button {
  margin-top: 25px;
  padding: 20px;
  width: 150px;
  border-radius: 6px;
  border: none;
  background-color: #F5EE84;
}
button a {
  font-size: 20px;
  text-decoration: none;
  color: #474306;
}
.About {
  margin-top: 200px;
}
.About-1 {
  padding-left: 100px;
}
.About-1 h1 {
  font-size: 100px;
  color: #F7F197;
  margin-bottom: 0px;
}
.About-1 p {
  line-height: 40px;
  font-size: 24px;
  color: darkblue;
  margin-top: 10px;
}
.About-2 {
  margin-top: 100px;
  padding-left: 500px;
}
.About-2 ul li {
  color: darkblue;
  font-size: 24px;
}
.ul-2 {
  padding-top: 40px;
}
.ul-3 {
  padding-top: 40px;
}