body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    text-decoration: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  gap: 25px;
  list-style: none;
  padding-right: 20px;
}
.btn-login {
  background-color: white;
  color: blueviolet;
  border: 2px solid blueviolet;
  padding: 20px;
  border-radius: 10px;
  margin-right: 50px;
  text-decoration: none;
}
nav {
    box-shadow: 1px 1px 1px 3px;

}
.navbar img {
    width: 80px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 50px;
}
.nav-menu li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li a:hover {
    color: blue;
    font-style: italic;
}
.btn-login {
    margin-right: 90px;
}
.btn-login a {
    color: blueviolet;
    text-decoration: none;
}
.btn-login a:hover {
    color: blue;
    font-style: italic;
}
.hero-section{
    padding-bottom: 20px;
    margin-left: 25px;
    background-color: #F5FCFF;
    height: 800px;
}
.hero-section img {
    float: right;
    width: 800px;
    margin-right: 80px;
    margin-top: 0;
}
.nama {
    font-size: 18px;
    margin-left: 25px;
    margin-top: 50px;
    font-weight: bold;
}
.kata {
    font-size: 65px;
    margin-left: 25px;
}
.Lorem {
    font-size: 20px;
    margin-left: 25px;
    margin-top: 0;
}
span {
    color: blueviolet;
}
.btn-section {
    margin-left: 20px;
    margin-top: 25px;
    padding: 15px;
    border-radius: 10px;
    background-color: blueviolet;
}
.btn-section a {
    text-decoration: none;
    color: white;
}
.btn-section a:hover {
    color: blue;
    font-style: italic;
}
.Skills h6 {
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 0;
}
.judul-skills {
    font-size: 60px;
    margin-left: 50px;
    margin-top: 15px;
}
.Card-1 {
    margin-left: 30px;
    background-color: #F5FCFF;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    margin-left: 50px;
}
.Card-2 {
    margin-left: 30px;
    background-color: #F5FCFF;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    margin-left: 50px;
}
.Card-3 {
    margin-left: 30px;
    background-color: #F5FCFF;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    margin-left: 50px;
}
.Card-4 {
    margin-left: 30px;
    background-color: #F5FCFF;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    margin-left: 50px;
}
.all-card {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-right: 50px;
    padding-bottom: 50px;
    height: 550px;
}
.about-me img {
    float: left;
    width: 600px;
    margin-top: 5px;
    margin-left: 100px;
    margin-bottom: 20px;
}
.about-me {
    padding-bottom: 120px;
    padding-left: 50px;
    height: 800px;
}
.teks-about {
    margin-top: 100px;
    margin-left: 800px;
    padding-top: 50px;
    padding-left: 80px;
}
.teks-about h6 {
    font-size: 15px;
    margin-bottom: 5px;
    padding-top: 20px;
}
.teks-about h1 {
    margin-top: 0px;
    font-size: 50px;
    padding-top: 20px;
    margin-bottom: 5px;
}
.about {
    font-size: 20px;
    padding-top: 20px;
}
.jdl-projects {
    margin-left: 50px;
}
.jdl-projects h6 {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 0px;
    margin-left: 25px
}
.jdl-projects h1 {
    margin-top: 10px;
    margin-left: 25px;
    font-size: 40px;
    float: left;
}
.btn-dribble {
    float: right;
    margin-top: 10px;
    margin-right: 90px;
    padding: 20px;
    border-radius: 13px;
    background-color: #E62872;
}
.btn-dribble a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.btn-dribble a:hover {
    color: blue;
    font-style: italic;
}
.Projects {
    display: flex;
    margin-top: 150px;
    margin-left: 150px;
    align-items: center;
}
.Ecommerce {
    margin-right: 50px;
    box-shadow: 2px 2px 2px 3px;
    margin-bottom: 30px;
}
.Ecommerce p {
    font-weight: 500;
    padding-left: 20px;
}
.Ecommerce h1 {
    padding-left: 20px;
}
.btn-ecommerce {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-bottom: 5px solid blueviolet;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 200px;
}
.btn-ecommerce a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 700;
}
.btn-ecommerce a:hover {
    color: blue;
    font-style: italic;
}
.Portofolio-Pribadi {
    margin-right: 50px;
    box-shadow: 2px 2px 2px 3px;
    margin-bottom: 30px;
}
.Portofolio-Pribadi h1 {
    padding-left: 20px;
}
.Portofolio-Pribadi p {
    padding-left: 20px;
    font-weight: 500;
}
.btn-portofolio {
    margin-left: 20px;
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-bottom: 5px solid blueviolet;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 200px;
}
.btn-portofolio a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 700;
}
.btn-portofolio a:hover {
    color: blue;
    font-style: italic;
}
.Blog-Pribadi {
    box-shadow: 2px 2px 2px 3px;
    margin-bottom: 30px;
}
.Blog-Pribadi h1 {
    padding-left: 20px;
}
.Blog-Pribadi p {
    padding-left: 20px;
    font-weight: 500;
}
.btn-blog {
    background-color: white;
    padding: 15px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-bottom: 5px solid blueviolet;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 200px;
}
.btn-blog a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 700;
}
.btn-blog a:hover {
    color: blue;
}
.Projects {
    align-items: center;
    margin-left: 85px;
}
.jdl-Contact {
    text-align: center;
}
.Contact {
    margin-top: 200px;
}
.Contact h6 {
    font-size: 20px;
    margin-bottom: 0px;
}
.Contact h1 {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.Contact p {
    font-size: 20px;
    margin-top: 0px;
}
.Name-2 {
    margin-left: 20px;
    display: flex;
    margin-bottom: 20px;
}
.kotak-nama-1 {
    margin-top: 15px;
    border: 2px solid blueviolet;
    border-radius: 5px;
    padding: 10px;
    width: 500px;
}
.First-name {
    font-weight: 500;
    font-size: 20px;
}
.Form-name-2 {
    margin-left: 20px;
    margin-top: 3px;
}
.last-name {
    font-weight: 500;
    font-size: 20px;
}
.kotak-nama-2 {
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid blueviolet;
    width: 500px;
}
.all-self {
    margin-left: 20px;
    display: flex;
    margin-bottom: 20px;
}
.email {
    font-weight: 500;
    font-size: 20px;
}
.kotak-email {
    margin-top: 10px;
    border: 2px solid blueviolet;
    border-radius: 5px;
    padding: 10px;
    width: 500px;
}
.Self-2 {
    margin-left: 25px;
}
.Phone-Number {
    font-weight: 500;
    font-size: 20px;
}
.kotak-nomor {
    margin-top: 10px;
    border: 2px solid blueviolet;
    border-radius: 5px;
    padding: 10px;
    width: 500px;
}
.Topic {
    margin-left: 20px;
}
.topic-1 {
    font-weight: 500;
    font-size: 20px;
}
.kotak-topic {
    margin-top: 10px;
    width: 1070px;
    padding: 10px;
    border: 2px solid blueviolet;
    border-radius: 5px;
    margin-bottom: 20px;
}
.Message {
    margin-left: 20px;
}
.message-1 {
    font-weight: 500;
    font-size: 20px;
}
.kotak-pesan {
    margin-top: 10px;
    width: 1070px;
    border: 2px solid blueviolet;
    border-radius: 5px;
    margin-bottom: 20px;
}
.accept {
    margin-left: 15px;
}
.acc {
    margin-left: 5px;
    color: black;
    font-size: 20px;
    font-weight: 500;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 2px solid blueviolet;
    border-radius: 5px;
    margin-bottom: 20px;
}
input[type="submit"] {
    margin-left: 450px;
    margin-top: 20px;
    background-color: blueviolet;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}
.all-form {
    margin-top: 40px;
    margin-left: 400px;
}
.Footer {
    margin-top: 300px;
}
.footer-1 {
    margin-bottom: 70px;
}
.footer-1 img {
    float: left;
    width: 100px;
    margin-left: 30px;
}
.menu {
    border: none;
    padding-left: 750px;
    padding-top: 40px;
    box-shadow: none;
    
}
.menu a {
    margin-right: 20px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.menu a:hover {
    color: blue;
    font-style: italic;
}
.Sosmed {
    float: right;
    width: 100px;
    display: flex;
    padding-right: 300px;
    margin-bottom: 20px;
    padding-top: 0px;
    vertical-align: top;
}
.Sosmed img {
    width: 30px;
    height: 30px;
    margin-left: 25px;

} 
.footer-2 {
    box-shadow: none;
}
.menu-2 {
    padding-top: 60px;
    height: 80px;
    float: right;
    box-shadow: none;
    margin-right: 85px;
}
.menu-2 a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.menu-2 a:hover {
    color: blue;
    font-style: italic;
}


