body {
    background-color: rgb(100, 100, 200)
}
h1 {
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
    display: block;
    margin: auto;
    width: 45%;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.Pantai-1 {
    text-align: center;
    color: white;
    font-size: 23px;
    line-height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    color: white;
    font-size: 35px;
    text-transform: capitalize;
}
p {
    color:  rgb(255, 208, 0);
    font-size: 25px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 40px;
}
a {
   display: block;
   margin-right: auto;
   margin-left: auto;
   width: fit-content;
   background-color: blue;
   padding: 25px;
   text-decoration: none;
   color: white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 20px;
   border-radius: 20px;
}
a:hover {
    color: cyan;
}
.akses-masuk {
    color: white;
}
.daya {
    color: white;
}
.fasilitas {
    color: white;
}
.waktu {
    color: white;
}
.info {
    color: white;
}