body {
  background-image: url(./../../Bola.html/Asset-Bola/belgia\ vs\ japan.jpg);
}
header {
   background: rgba(255,255,255, 0.5);
}
article{
   background-color: rgba(255, 255, 255, 0.5);
   backdrop-filter: blur(10px);
   padding: 1rem;
}