.ini-isi-content {
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(240,45,253,1) 100%);
}
h2{
    font-size: 40px;
    color: red;
    font-family: monospace;
}
img {
    display: block;
    margin: 20px auto;
    width: 800px;
    border-radius: 20px;
}
.Perjalanan-sahabat-Umar-bin-Khattab {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(240,45,253,1) 100%);
}
#kelahiran-umar-bin-khattab {
    font-family: serif;
    font-size: 20px;
    color: blue;
}
.Kepemimpinan-Umar-bin-Khattab-sebagai-Khalifah {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: green;
}
#pemerintahanya {
    font-family: sans-serif;
    font-size: 20px;
    color: blue;
}
.provinsi {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: green;
}
#provinsi-2 {
    font-family: sans-serif;
    font-size: 20px;
    color: blue;
}
.baitul-mal {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: green;
}
#baitul-mal-2 {
    font-family: sans-serif;
    font-size: 25px;
    color: blue;
}
.adil {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: green;
}
#adil-2 {
    font-family: sans-serif;
    font-size: 25px;
    color: blue;
}
p {
    font-family: cursive;
    font-size: 25px;
    color: darkblue;
}
